body {
  background-color: #043a;
}
li a {
  color: red;
}
header div#info {
  border: 2px double;
}
header h1 {
  text-align: center;
}
#welcome {
  text-align: center;
}
div button {
  background-color:rgb(216, 0, 33);
  font-size: 1rem;
  border-radius: 10px;
  border: 0;
  background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
}
div button:hover {
    background-color: rgba(255, 0, 0, 1);
}
div button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}